<table width="95%"  border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
          <td>&nbsp;</td>
        </tr>
		
        <tr>
          <td>
            <!-- Tabla para las categor&iacute;as -->
            <table width="100%"  border="0" align="center" cellpadding="0" cellspacing="0">
              <tr>
                <!-- ciclo para las categor&iacute;as -->
<{assign var="i" value="1"}> <{foreach item=catego from=$categos}> <{if $i>2}> </tr>
              <tr> <{assign var="i" value="1"}> <{/if}>
                  <td width="50%" valign="top" class="categos_list" style="border-bottom: 1px solid #cccccc; ">
				  <a href="categos.php?id=<{$catego.id}>" style="font-size: 14px; font-weight: bold; "><img src="<{$catego.img}>" width="<{$catego_img_width}>" border="0" align="left" style="margin-right: 4px; margin-bottom: 4px;"></a> <a href="categos.php?id=<{$catego.id}>" style="font-size: 14px; font-weight: bold; "><{$catego.nombre}></a> <{if $catego.isnew}><img src="images/new.gif" align="top" border="0"><{/if}><br>
<{$catego.subcats}> </td>
    <{assign var="i" value=$i+1}> <{/foreach}>
                  <!-- Fin del Ciclo de categor&iacute;as -->
              </tr>
            </table>
            <!-- Fin de tabla para las categor&iacute;as -->
          </td>
        </tr>
    </table>