<div class="rmdp_navigation"><{$location_bar}></div><br>
<{include file="$module_path/templates/rmdp_nav_srh.html"}>
<table width="100%"  border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>
	<!-- Enlaces Patrocinados //-->
	<{include file="$module_path/templates/rmdp_sponsored.html"}>
	<!-- Fin de enlaces Patrocinados //-->
	</td>
  </tr>
  <tr><td>&nbsp;</td></tr>
  <tr>
    <td align="right" class="rmdp_pages"><{$lang_toppop}></td>
  </tr>
  <tr>
    <td align="right" class="rmdp_pages"><{$lng_total_results}></td>
  </tr>
  <tr>
    <td>
	<!-- Resultados -->
		<{include file="$module_path/templates/rmdp_result_list.html"}>
	<!-- Fin de Resultados -->
	</td>
  </tr>
  <tr><td align="right"><{$nav_pages}></td>
  </tr>

  <tr><td>&nbsp;</td></tr>
  <tr>
    <td>&nbsp;
	</td>
  </tr>
</table>
